@mixin btn($color, $background, $background2) {
  background: $background;
  border-radius: 24px;
  border: none;
  transition: all ease .3s;
  width: 10rem;
  padding: .5rem;
  color: $color;
  font-weight: 400;
  font-size: var(--font-boton);

  a {
    color: $color;
    text-decoration: none;
    outline: none;
    position: relative;
    font-weight: 400;
    font-size: var(--font-boton);
    padding: 1rem;
    text-align: center;
  }

  &:hover {
    background: $background2;
  }

  &:disabled,
  &[disabled=true],
  &[disabled="disabled"] {
    filter: grayscale(0.6);
  }
}

.btnGreen {
  @include btn(var(--white) !important, var(--green-800), var(--green-600));
  margin-top: 1rem;
  max-height: 3rem
}

.btnOrange {
  @include btn(var(--white) !important, var(--gold-800), var(--gold-600));
  padding: 0.4rem;
  border-radius: 10px;
  font-size: var(--font-chica);
}

.btnWhite {
  @include btn(var(--gold-800) !important, var(--white) !important, #f88c1f);
  padding: 0.4rem;
  border-radius: 10px;
  font-size: var(--font-chica);
  border: 1px solid var(--gold-800)
}

.Button {
  width: auto;
  height: 2rem;
  border-radius: 5px;
  border: none;
  color: var(--white);
  background-color: var(--green-800);
  border: none;
  z-index: 99;
  border: 2px solid transparent;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;

  &:hover {
    background-color: var(--white);
    transition: 0.4s all;
    border: 2px solid var(--green-800);
    color: var(--green-800);
  }

  &:disabled,
  &[disabled=true],
  &[disabled="disabled"] {
    filter: grayscale(0.6);
  }
}

@mixin button($color, $background, $background2) {
  width: auto;
  height: 2rem;
  border-radius: 5px;
  border: none;
  color: $color;
  background-color: $background;
  border: none;
  z-index: 99;
  border: 2px solid transparent;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;

  &:hover {
    background-color: $color;
    transition: 0.4s all;
    border: 2px solid $background;
    color: $background;
  }

  &:disabled,
  &[disabled=true],
  &[disabled="disabled"] {
    filter: grayscale(0.6);
  }

}

.Button-orange {
  @include button(var(--white), var(--gold-800), var(--primary-color));
}

.Button-gray {
  @include button(var(--white), var(--grey-light-color), var(--grey-light-color));
}

.no-caret-dropdown {
  .dropdown-toggle::after {
    display: none !important;
  }
}